<div class="row">
  <div class="large-6 columns">
    <h2>About</h2>
  </div>
</div>

<div class="row">
  <div class="large-10 columns">
    <h5>This a website made for planning the items neccessary to have a 'potluck' party. Remember keep that bowl burning when using ember!</h5>
  </div>
</div>
